node_modules
dist
.env
*.log
.DS_Store
.vite
*.tsbuildinfo

*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json
.env
# TypeScript build cache
*.tsbuildinfo
.env.*
!.env.example
/.kiro/skills
# # Drizzle migrations
# .drizzle/

# Tailwind 生成的 CSS 文件
public/css/style.css
testmp
